<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TASKER || About</title>
<link rel="stylesheet" type="text/css" href="../public/css/style.css" />
</head>
<body>
	<div class="bg_top">
		<div class="header_bg">
			<div class="header"></div>
		</div>
	</div>
	<div class="page_box page_box_bg">
		<div class="home_menu">
			<a href="index.html"></a>
		</div>
		<div class="index_left page_left gk_l">
		</div>
		<div class="index_right page_right gk_r">
		</div>
		<div class="page_right_menu">
			<form>
			<ul>
				<li class="menu_1"><a id="info" title="Info"></a></li>
                <li class="menu_2"><a id="task" title="Task"></a></li>
                <li class="menu_5"><a id="event" title="Event"></a></li>
                <li class="menu_6"><a id="news" title="New"></a></li>
                <li class="menu_4"><a class="on" title="About"></a></li>
			</ul>
			</form>
		</div>
	</div>
	<div class="page_bot"></div>
	<div class="footer">
		<div class="footer_right">
			<p>Copyright&copy;2017 F5.</p>
		</div>
	</div>
	<script src="../public/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../public/js/ajax.js"></script>>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/js/js.js"></script>
</body>
</html>